* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-image:linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)),url("images/i3.jpg");
    background-size: cover;
    background-position: center;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 99;
    
}

.logo {
    color: #fff;
    font-size: 2em;
    user-select: none;
}

.navigation a {
    color: #fff;
    text-decoration: none;
    font-size: 1.1em;
    position: relative;
    font-weight: 500;
    margin-left: 40px;
}

.navigation a::after{
    content: '';
    position: absolute;
    left: 0;
    bottom: -6px;
    width: 100%;
    height: 3px;
    background: #fff;
    border-radius: 5px;
    transform-origin: right;
    transform: scaleX(0);
    transition: transform .5s;
}

.navigation a:hover::after{
    transform: scalex(1);
    transform-origin: left;
}

.navigation .btnSignup-popup{
    width: 130px;
    height: 50px;
    background: transparent;
    border: 2px solid #fff;
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1.1em;
    color: #fff;
    font-weight: 500;
    margin-left: 40px;
    transition: .5s;
}

.navigation .btnSignup-popup:hover {
    background: #fff;
    color: #162938;
}



.col{
    flex-basis: 50%;
    margin-left: 27px;
}

.col1{
    flex-basis: 50%;
    margin-right: 20px;
}

h1{
    font-size: 72px;
    color: #fff;   
}

p{
    color: #fff;
    font-size: 15px;
    line-height: 20px;
}

button{
    width: 180px;
    color: #000;
    font-size: 12px;
    padding: 12px 0;
    background: #fff;
    border: 0;
    border-radius: 20px;
    outline: none;
    margin-top: 30px;
}
.card{
    width: 190px;
    height: 275px;
    display: inline-block;
    border-radius: 10px;
    padding: 15px 25px;
    box-sizing: border-box;
    cursor: pointer;
    margin: 10px 15px;
    background-position: center;
    background-size: cover;
}

.card1{
    background-image: url(i4.jpeg);
}
.card2{
    background-image: url("images/i1.jpeg");  
}
.card3{
    background-image: url(i4.jpeg);
}
